*{
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --description: 12px;
    --main-title: 28px;
    --title: 24px;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 14px;
    line-height: 120%;
}

.container {
    max-width: 1390px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav,
.menu-list {
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: 0 40px;
}

.menu-item {
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover {
    transform: translateY(-5px);
    transition: 1s;
}

.promo{
    margin: 0 auto;
    background: url(../images/main.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    position: relative;
}

.promo-inner  {
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.button {
    margin-top: 660px;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 50px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #fff;
    color: var(--primary-color);
    transition: .4s;
}

.burger {
    display: none;
    height: 30px;
    width: 33px;
    cursor: pointer;
}

.burgx,
.burgx2,
.burgx3 {
    margin-top: 3px;
    background: var(--secondary-color);
    width: 33px;
    height: 4px;
    position: absolute;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.burgx2 {
    margin-top: 13px;
}

.burgx3 {
    margin-top: 23px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}










@media (max-width: 767px) {
    .burger{
        display: block;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        gap: 20px 0;
    }
}

@media (max-width: 991px){

}

@media (max-width: 1199px) {

}